@font-face{
	font-family: Pixelar;
	src: url('/fonts/pixelar/pixelar.eot?#iefix');
	src:
		url('/fonts/pixelar/pixelar.eot?#iefix') format('eot'),
		url('/fonts/pixelar/pixelar.woff2') format('woff2'),
		url('/fonts/pixelar/pixelar.woff') format('woff'),
		url('/fonts/pixelar/pixelar.ttf') format('truetype');
}
